@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*,
::before,
::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {

    /* Primary */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /* Neutral */
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    /* border radius */
    --border-radius: 0.75rem;

}

html {font-size: 93.8%; } /*15px*/

body {
    background-color: var(--very-light-gray);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: var(--grayish-blue);
}

p {margin-bottom: 1rem;}


h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text-small {font-size: 0.8rem;}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(26, 91%, 57%);
}

.sr-only{
    border:0; 
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}


/* 
=========================================
Card
=========================================
*/

main {
    display: grid;
    justify-content: center;
}

.feature-card-container {
    display: grid;
    padding: 4rem 2.5rem;
    row-gap: 1rem;
}

.intro {
    width: min(100%, 350px);
}

.intro h3 {
    font-weight: 200;
    text-align: center;
    font-size: 1.6rem;
}

.intro-bold {
    font-weight: 600;
    color: var(--very-dark-blue);
}

.intro p {
    text-align: center;
    margin-top: -1rem;
    padding: 0.5rem;
}

.feature-cards {
    min-height: 100vh;
    margin-top: 3.5rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
    row-gap: 1.5rem;
}

.feature-card {
    background: var(--white);
    width: min(100%, 350px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    padding: 0 1.75rem 1rem;
    border-radius: var(--border-radius);
    display: grid;
    grid-template-rows: auto 1fr auto 2fr;
    grid-template-columns: auto;
    grid-template-areas: 
    "d d d"
    "a a a"
    "b b b"
    ". . c";
    position: relative;
    overflow: hidden;
    height: 17rem;
}

.feature-card h4::after {
    content:" ";
    display: block;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.supervisor-card h4::after {
    background: var(--cyan);
}

.team-builder-card h4::after {
    background: var(--red);
}

.karma-card h4::after {
    background: var(--orange);
}

.calculator-card h4::after {
    background: var(--blue);

}

.feature-card h4 {
    grid-area: a;
}

.feature-card p {
    grid-area: b;
}

.feature-card img {
    grid-area: c;
    align-self: center;
}
 


.feature-card h4 {
    margin-top: 2rem;
    font-weight: 600;
    color: var(--very-dark-blue);
    font-size: 1.35rem;
    grid-area: a;
}

.feature-card p {
    margin-top: -1rem;
    grid-area: b;
}


/* 
===============================================
Media Query
===============================================
*/

@media screen and (min-width: 775px){

.intro {
    justify-self: center;
}

.intro h3 {
    font-size: 1.9rem;
};
}

@media screen and (min-width:1400px) {

.intro {
    width: min(100%, 530px);
}

.intro h3 {
    font-size: 2.5rem;
    color: var(--very-dark-blue);
}

.feature-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(12, 60px);
    margin-bottom: 2rem;
}

.feature-card img {

    align-self: flex-start;
}
.supervisor-card {
    grid-area: 4/1/8/2;
    justify-self: end;
    margin-right: -2.5rem;   
}

.team-builder-card img {
    align-self: center;
}
.team-builder-card {
    grid-area: 2/2/6/3;
    justify-self: center;   
}
    
.calculator-card {
    grid-area: 4/3/8/4;
    justify-self: start;
    margin-left: -2.5rem;
}

.karma-card {    
    grid-area: 5/2/9/3;
    justify-self: center;
    margin-top: 2rem;
} 

} 

